<ion-header>
    <ion-progress-bar color="primary" [value]="progress"></ion-progress-bar>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
        <!--
        <ion-back-button (click)="goBack()"></ion-back-button>
        this.router.navigate([page], { replaceUrl: true })
        -->
      </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="true">

    <ion-segment [(ngModel)]="segment" scrollable>
        <ion-segment-button value="0" (click)="selectedTab(0)"> 
            시간자료
            <ion-icon name="trending-up"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="1" (click)="selectedTab(1)">
            상세정보
            <ion-icon name="information-circle"></ion-icon>
        </ion-segment-button>
    </ion-segment>

    <!--
    <ion-slides #slider [options]="slideOpts" (ionSlideWillChange)="moveButton($event)">
        <ion-slide>
            <app-chart></app-chart>
        </ion-slide>
        <ion-slide>
            <app-info></app-info>
        </ion-slide>
    </ion-slides>
    -->

    <div [ngSwitch]="segment">
        <ion-list *ngSwitchCase="0">
            <app-chart></app-chart>
        </ion-list>
        <ion-list *ngSwitchCase="1">
            <app-info></app-info>
        </ion-list>
    </div>
    

    <ion-fab vertical="center" horizontal="end" slot="fixed">
        <ion-fab-button color="medium" class="fab" (click)="ScrollToTop()">
            <ion-icon name="arrow-dropup"></ion-icon>
        </ion-fab-button>
        <!--
        <br />
        <ion-fab-button class="fab" color="medium" (click)="ScrollToBottom()">
            <ion-icon name="arrow-dropdown"></ion-icon>
        </ion-fab-button>
        -->
    </ion-fab>

</ion-content>
