<ion-header>
  <ion-toolbar>
    <ion-buttons>
        <ion-back-button defaultHref="/home"></ion-back-button>
        <ion-title>설정</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card class="button-card">
        <ion-item style="top: 10%;" lines="none">
          <ion-buttons slot="end">
              <ion-button class="button__list" fill="outline" expand="block">
                <div>
                    <ion-icon style="zoom:1.5;" name="alarm"></ion-icon><br>
                    <ion-label>알림<br />확인</ion-label>
                </div>
              </ion-button>
              <ion-button class="button__list" fill="outline" expand="block" routerLink="/home">
                <div>
                    <ion-icon style="zoom:1.5;" name="home"></ion-icon><br>
                    <ion-label>메인<br />화면</ion-label>
                </div>
              </ion-button>
          </ion-buttons>
        </ion-item>
    </ion-card>
    <ion-card>

        <div padding class="form-group" *ngFor="let info of infos">
            <ion-grid>
              <ion-row>
                <ion-col size="4">
                  채널명
                </ion-col>
                <ion-col size="8">
                  <ion-input [value]="info.ch_name"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  측정명
                </ion-col>
                <ion-col size="8">
                  <ion-input [value]="info.name_tag"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  측정단위
                </ion-col>
                <ion-col size="8">
                  <ion-input [value]="info.unit"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  온도표시
                </ion-col>
                <ion-col>
                  <ion-select value="1" placeholder="선택" ok-text="선택" cancel-text="취소">
                    <ion-select-option value="1">사용함</ion-select-option>
                    <ion-select-option value="0">사용안함</ion-select-option>
                  </ion-select>
                </ion-col>
                <ion-col>
                  온도단위
                </ion-col>
                <ion-col>
                  <ion-select value="c" placeholder="선택" ok-text="선택" cancel-text="취소">
                    <ion-select-option value="c">°C</ion-select-option>
                    <ion-select-option value="f">°F</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  저장주기
                </ion-col>
                <ion-col>
                  <ion-select value="5" placeholder="선택" ok-text="선택" cancel-text="취소">
                    <ion-select-option *ngFor="let minute of stIntervals" value="{{minute}}">{{minute}}분</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  저장기간
                </ion-col>
                <ion-col>
                  <ion-item class="input-font" lines="none">
                    <ion-input type="number" value="365"></ion-input>
                    <span>일</span>
                </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <!--
                <ion-col size="4" align-self-center>
                  -->
                <ion-col size="3">
                  <span>최대알람</span>
                </ion-col>
                <ion-col size="5">
                    <ion-item class="input-font" lines="none">
                        <ion-input type="number" [value]="limit.value_max"></ion-input>
                        <span>{{info.unit}}</span>
                    </ion-item>
                </ion-col>
                <ion-col size="4" text-right>
                  <ion-select value="{{ limit?.bool_max }}" placeholder="선택" ok-text="선택" cancel-text="취소">
                    <ion-select-option value="1">사용함</ion-select-option>
                    <ion-select-option value="0">사용안함</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="3">
                  <span>최소알람</span>
                </ion-col>
                <ion-col size="5">
                    <ion-item class="input-font" lines="none">
                        <ion-input type="number" [value]="limit.value_min"></ion-input>
                        <span>{{info.unit}}</span>
                    </ion-item>
                </ion-col>
                <ion-col size="4" text-right>
                  <ion-select value="{{ limit?.bool_min }}" placeholder="선택" ok-text="선택" cancel-text="취소">
                    <ion-select-option value="1">사용함</ion-select-option>
                    <ion-select-option value="0">사용안함</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <span>센서교체주기</span>
                </ion-col>
                <ion-col size="4">
                    <ion-item class="input-font" lines="none">
                      <ion-input type="number" [value]="schedule.rep_term"></ion-input>
                      <span>개월</span>
                    </ion-item>
                </ion-col>
                <ion-col size="4" text-right>
                  <ion-select value="1" placeholder="선택" ok-text="선택" cancel-text="취소">
                    <ion-select-option value="1">사용함</ion-select-option>
                    <ion-select-option value="0">사용안함</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <span>센서교정주기</span>
                </ion-col>
                <ion-col size="4">
                  <ion-item class="input-font" lines="none">
                    <ion-input type="number" [value]="schedule.cor_term"></ion-input>
                    <span>개월</span>
                  </ion-item>
                </ion-col>
                <ion-col size="4" text-right>
                  <ion-select value="1" placeholder="선택" ok-text="선택" cancel-text="취소">
                    <ion-select-option value="1">사용함</ion-select-option>
                    <ion-select-option value="0">사용안함</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <span>센서점검주기</span>
                </ion-col>
                <ion-col size="4">
                    <ion-input type="number"></ion-input>
                </ion-col>
                <ion-col size="4" text-right>
                  <ion-select value="1" placeholder="선택" ok-text="선택" cancel-text="취소">
                    <ion-select-option value="1">사용함</ion-select-option>
                    <ion-select-option value="0">사용안함</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <p align="right">
                <ion-button class="button button-block button-calm ink" data-ink-color="#9DEAFF" data-ink-opacity="1" (click)="verifyPass(0)" fill="outline" type="submit">등록</ion-button> 
              </p>
            </ion-grid>
        </div>
    </ion-card>

    <ion-card>
        <div padding class="form-group">
          <ion-label>채널 공용 설정</ion-label>
          <ion-grid>
            <ion-row>
              <ion-col>
                  채널수량
              </ion-col>
              <ion-col>
                <ion-select value="{{ schedule?.rep_term }}" placeholder="선택" ok-text="선택" cancel-text="취소">
                  <ion-select-option *ngFor="let num of selectNums">CH{{num}}</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <p align="right">
              <ion-button (click)="verifyPass(1)" fill="outline" type="submit">등록</ion-button> 
            </p> 
          </ion-grid>
        </div>
    </ion-card>

    <ion-card>
        <div padding class="form-group">
          <ion-label>스테이지 공용 설정</ion-label>
          <ion-grid>
            <ion-row>
              <ion-col>
                  스테이지수량
              </ion-col>
              <ion-col>
                <ion-select value="{{ schedule?.rep_term }}" placeholder="선택" ok-text="선택" cancel-text="취소">
                  <ion-select-option *ngFor="let num of selectNums">{{num}}</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
              <p align="right">
                <ion-button (click)="verifyPass(2)" fill="outline" type="submit">등록</ion-button>           
              </p>
          </ion-grid>
        </div>
    </ion-card>

</ion-content>