
:host {
    ion-content {
        --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
    }
}


ion-col {
    align-self: center;
}

ion-input {
    color: black;
}

ion-select {
    color: black;
}

ion-row {
    //line-height: 0.6;
    //margin:0px !important; 
    margin-top: -20px;

}

ion-card {
    background-color: white;
}

.input-font {
    font-size: 14px;
}

.button__list {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    vertical-align: middle;
    --padding-start: 10px;
    --padding-end: 10px;
}

.button-card {
    height: 70px;
}