<ion-menu>
  <ion-header>
      <ion-toolbar>
        <ion-title>메뉴</ion-title>
      </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-list-header>
          프로필
      </ion-list-header>
      <ion-menu-toggle auto-hide="false">
        <ion-item menuClose routerLink="/profile" lines="none">
          <ion-icon slot="start" [name]="'contact'"></ion-icon>
            <ion-label style="font-weight: bolder">{{user}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
    <ion-list>
      <ion-list-header>
          메인
      </ion-list-header>
      <ion-menu-toggle auto-hide="false">
        <ion-item menuClose routerLink="/home" detail>
          <ion-icon slot="start" [name]="'home'"></ion-icon>
          <ion-label>
            홈
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
    <ion-list>
      <ion-list-header>
            서비스
      </ion-list-header>
      <ion-menu-toggle auto-hide="false">
        <ion-item menuClose routerLink="/question" detail>
          <ion-icon slot="start" [name]="'quote'"></ion-icon>
          <ion-label>자주하는 질문</ion-label>
        </ion-item>
        <ion-item menuClose button (click)="openUrl()">
          <ion-icon slot="start" [name]="'call'"></ion-icon>
          <ion-label>고객문의</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>
