<ion-content padding class="login auth-page">

    <div class="auth-content">
        <!-- Logo -->
        <div padding-horizontal text-center>
            <div class="logo"></div>
            <h3 no-margin>
                <ion-text color="light" class="fw700">
                <ion-text color="secondary">회원가입</ion-text>
                </ion-text>
            </h3>
        </div>
    
        <!-- Register form -->
        <form [formGroup]="registerForm" class="list-form">
        <ion-item no-padding class="animated fadeInUp">
            <ion-label position="floating">
            <ion-icon name="person" item-start></ion-icon>
            아이디
            </ion-label>
            <ion-input color="secondary" type="text" formControlName="username"></ion-input>
        </ion-item>
        <ion-item no-padding class="animated fadeInUp">
            <ion-label position="floating">
            <ion-icon name="mail" item-start></ion-icon>
            이메일
            </ion-label>
            <ion-input color="secondary" type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item no-padding class="animated fadeInUp">
            <ion-label position="floating">
            <ion-icon name="lock" item-start></ion-icon>
            비밀번호
            </ion-label>
            <ion-input color="secondary" type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-item no-padding class="animated fadeInUp">
            <ion-label position="floating">
            <ion-icon name="lock" item-start></ion-icon>
            비밀번호 재입력
            </ion-label>
            <ion-input color="secondary" type="password" formControlName="passchk"></ion-input>
        </ion-item>
        <ion-item no-padding class="animated fadeInUp">
            <ion-label position="floating">
            <ion-icon name="home" item-start></ion-icon>
            소속기관/회사
            </ion-label>
            <ion-input color="secondary" type="text" formControlName="company"></ion-input>
        </ion-item>
        </form>
    
        <div margin-top>
        <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="onSubmit()" [disabled]="!registerForm.valid" tappable>
            <ion-icon name="log-in"></ion-icon>
            가입하기
        </ion-button>
        </div>
    
        <!-- Other links -->
        <div text-center margin-top>
        <span (click)="closeSignup()" tappable>
            <ion-text color="light">
            <strong>이미 계정이 있습니다</strong>
            </ion-text>
        </span>
        </div>
    </div>
</ion-content>