
.tab-content {
    /*
    text-align: center;
    cursor: pointer;
    position: relative;
    margin-top: 100px;
    padding-top: 100px;
    */
    
    //text-align: center;
    //cursor: pointer;
    position: relative;
    width: 100vw;
    height: 100vh;
}



