<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button [routerDirection]="'root'" [routerLink]="['/home']"></ion-back-button>
      <ion-title>자료보기</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>

      <!--
      <ion-card>
        <ion-item text-center>
            <ion-button fill="outline" expand="block" routerLink="/view-source/trend/1032">트랜드<br />보기</ion-button>
            <ion-button fill="outline" expand="block" routerLink="/view-source/view-text/1032">텍스트<br />보기</ion-button>
            <ion-button fill="outline" expand="block" routerLink="/view-source/storage/1032">스토리지</ion-button>
            <ion-button fill="outline" expand="block" routerLink="/home">메인<br />화면</ion-button>
        </ion-item>
      </ion-card>
      <div class="tab-content">
        <ion-router-outlet></ion-router-outlet>
      </div>
      -->
      <ion-router-outlet></ion-router-outlet>

</ion-content>
