
  <div class="form-group" *ngFor="let info of infos">

      <ion-list lines="full">
        <ion-list-header>
          기본정보
        </ion-list-header>
          <ion-item center lines="none">
            <ion-label color="primary">채널명</ion-label>
            <ion-input [value]="info.ch_name" readonly></ion-input>
            <a (click)="channelPrompt(info.channel_id, info.ch_name)" class="text-info float-right">
              <ion-icon button name="create" style="position:relative; zoom:1.5;"></ion-icon>
            </a>
          </ion-item>
          <ion-item>
            <ion-label color="primary">측정명</ion-label>
            <ion-input [value]="info.name_tag" outline fixed readonly></ion-input>
            <a (click)="sensorPrompt(info.sensor_id, info.name_tag)" class="text-info float-right">
              <ion-icon button name="create" style="position:relative; zoom:1.5;"></ion-icon>
            </a>
          </ion-item>
          <!--
          <ion-item>
            <ion-label color="primary">단위</ion-label>
            <ion-label fixed>{{ info.unit }}</ion-label>
          </ion-item>
          -->

      </ion-list>

      <ion-list lines="full">
          <ion-list-header>
            주기
          </ion-list-header>
            <ion-item>
              <ion-label color="primary">센서교체</ion-label>
              <ion-label text-right item-end>{{schedule?.rep_term}}개월</ion-label>

              <!--
              <ion-select (ionChange)="onChangeSchedule($event, 1)" value="{{ schedule?.rep_term }}" placeholder="-- 선택 --" ok-text="선택" cancel-text="취소">
                <ion-select-option value="1">1개월</ion-select-option>
                <ion-select-option value="3">3개월</ion-select-option>
                <ion-select-option value="6">6개월</ion-select-option>
                <ion-select-option value="9">9개월</ion-select-option>
                <ion-select-option value="12">12개월</ion-select-option>
              </ion-select>
              -->
            </ion-item>
            <ion-item>
              <ion-label color="primary">센서교정</ion-label>
              <ion-label text-right item-end>{{schedule?.cor_term}}개월</ion-label>

              <!--
              <ion-select (ionChange)="onChangeSchedule($event, 2)" value="{{ schedule?.cor_term }}" placeholder="-- 선택 --" ok-text="선택" cancel-text="취소">
                  <ion-select-option value="1">1개월</ion-select-option>  
                  <ion-select-option value="3">3개월</ion-select-option>
                  <ion-select-option value="6">6개월</ion-select-option>
                  <ion-select-option value="9">9개월</ion-select-option>
                  <ion-select-option value="12">12개월</ion-select-option>
              </ion-select>
              -->
          </ion-item>
      </ion-list>

      <ion-list lines="full">
          <ion-list-header>
            <ion-label>범위</ion-label>
          </ion-list-header>
            <ion-item>
              <ion-label color="primary">최대</ion-label>
              <ion-toggle [(ngModel)]="maxState" [ngModelOptions]="{standalone: true}" (ionChange)="maxToggleChanged();"></ion-toggle>
            </ion-item>
            <ion-item [disabled]="!maxState">
              <ion-range pin="true" min="{{info.range_min}}" max="{{info.range_max}}" [value]="limit?.value_max" snaps="true" color="secondary">
                <ion-label slot="start">{{info.range_min}}</ion-label>
                <ion-label slot="end">{{info.range_max}}</ion-label>
              </ion-range>
              <ion-badge color="secondary">{{limit?.value_max}}{{ info.unit }}</ion-badge>

              <ion-icon button name="create" color="primary" style="position:relative;" (click)="maxPrompt(limit?.value_max)"></ion-icon>
              
              <!--
              <a (click)="onEditCloseItems()" class="text-info float-right">
                <ion-icon button name="create" style="position:relative; zoom:1.5;"></ion-icon>
              </a>
              -->

            </ion-item>
            <ion-item>
              <ion-label color="primary">최소</ion-label>
              <ion-toggle [(ngModel)]="minState" [ngModelOptions]="{standalone: true}" (ionChange)="minToggleChanged();"></ion-toggle>
            </ion-item>
            <ion-item [disabled]="!minState">
              <ion-range pin="true" min="{{info.range_min}}" max="{{info.range_max}}" [value]="limit?.value_min" snaps="true" color="secondary">
                  <ion-label slot="start">{{info.range_min}}</ion-label>
                  <ion-label slot="end">{{info.range_max}}</ion-label>
                </ion-range>
                <ion-badge color="secondary">{{ limit?.value_min }} {{ info.unit }}</ion-badge>    

                <ion-icon button name="create" color="primary" style="position:relative;" (click)="minPrompt(limit?.value_min)"></ion-icon>
    
            </ion-item>
        </ion-list>
      

      <!--
      <form role="form" [formGroup]="infoForm" (ngSubmit)="onSubmit()">
      <ion-list lines="full">
          <ion-list-header>
            <ion-label>범위</ion-label>
            <a (click)="onEditCloseItems()" class="text-info float-right">
              <ion-icon button name="{{isEditItems ? 'close' : 'create'}}" style="position:relative; zoom:1.5;"></ion-icon>
            </a>
          </ion-list-header>
          <div *ngIf="!isEditItems">
            <ion-item>
              <ion-label color="primary">최대</ion-label>
              <ion-toggle [(ngModel)]="maxState" [ngModelOptions]="{standalone: true}" (ionChange)="maxToggleChanged();"></ion-toggle>
            </ion-item>
            <ion-item [disabled]="!maxState">
              <ion-range pin="true" min="{{info.range_min}}" max="{{info.range_max}}" [value]="limit?.value_max" snaps="true" color="secondary">
                <ion-label slot="start">{{info.range_min}}</ion-label>
                <ion-label slot="end">{{info.range_max}}</ion-label>
              </ion-range>
              <ion-badge color="secondary">{{limit?.value_max}}{{ info.unit }}</ion-badge>
            </ion-item>
            <ion-item>
              <ion-label color="primary">최소</ion-label>
              <ion-toggle [(ngModel)]="minState" [ngModelOptions]="{standalone: true}" (ionChange)="minToggleChanged();"></ion-toggle>
            </ion-item>
            <ion-item [disabled]="!minState">
              <ion-range pin="true" min="{{info.range_min}}" max="{{info.range_max}}" [value]="limit?.value_min" snaps="true" color="secondary">
                  <ion-label slot="start">{{info.range_min}}</ion-label>
                  <ion-label slot="end">{{info.range_max}}</ion-label>
                </ion-range>
                <ion-badge color="secondary">{{ limit?.value_min }} {{ info.unit }}</ion-badge>        
            </ion-item>
          </div>
          <div *ngIf="isEditItems">
            <ion-item>
              <ion-label color="primary">최대</ion-label>
              <ion-input type="number" [placeholder]="limit?.value_max" formControlName="value_max"></ion-input>
              &nbsp;
              <ion-label>{{ info.unit }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label color="primary">최소</ion-label>
              <ion-input type="number" [placeholder]="limit?.value_min" formControlName="value_min"></ion-input>
              &nbsp;
              <ion-label>{{ info.unit }}</ion-label>
            </ion-item>
            <ion-button expand="full" type="submit">등록</ion-button> 
          </div>
        </ion-list>
    </form>
    -->

  </div>

